# pnpm configuration for IRIB Digital Workplace
# Designer & Developer: میثم جعفرپور آلانق
# Education: Master of Software Engineering
# Position: Audio and Video Expert Level 4
# Client: Technical Deputy of IRIB East Azerbaijan Center
# All rights reserved © 2026

# Built dependencies that should be built from source
only-built-dependencies=@nestjs/core,@prisma/client,@prisma/engines,bcrypt,prisma

# Package overrides
overrides.hono=4.12.25
